h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color:forestgreen;
}
canvas {
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@keyframes example {

    from {box-shadow: 1px 1px 38px  rgb(132, 0, 255);}
    to {box-shadow: 1px 1px 39px rgb(0, 0, 0);}
}